#############################################################
### ALWAYS PUT VERSION NUMBERS ON PACKAGES LISTED HERE!!! ###
#############################################################

django==1.10
